
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share style */
.text-primary-colour{
    color: #FD6E0A;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
}
/* header */
header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 226px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-discription{
    font-size: 18px;
    max-width: 500px;
}
.banner img{
    width: 580px;
    height: 670px;
}